@import "/styles/color.scss";
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background: $main-color-gradient;
  padding: 20px 0;
  color: #fff;

  .footer-collapse {
    width: 100%;
    border: none;
    color: #fff;
  }

  .footer-collapse ul {
    list-style: none;
    padding: 0;
  }

  .footer-collapse span {
    color: white;
  }
  .column {
    flex: 1; /* Chia đều không gian giữa các cột */
    padding: 0 20px; /* Khoảng cách giữa các cột */
    min-width: 200px; /* Đảm bảo các cột không quá hẹp */
    text-align: left; /* Căn trái cho các mục trong cột */

    h4 {
      margin-bottom: 10px; /* Khoảng cách giữa tiêu đề và danh sách */
      font-size: 14px; /* Kích thước chữ tiêu đề lớn hơn */
      font-weight: bold;
    }

    ul {
      list-style: none; /* Xóa dấu đầu dòng */
      padding: 0; /* Xóa padding */
      font-size: 16px;
      margin: 0; /* Xóa margin */

      li {
        margin: 10px 0; /* Khoảng cách giữa các mục */
        font-size: 14px; /* Kích thước chữ cho các mục trong danh sách */
        cursor: pointer; /* Thay đổi con trỏ khi hover */

        &:hover {
          text-decoration: underline; /* Gạch chân khi hover */
        }
      }
    }
  }

  @media (max-width: 768px) {
    justify-content: center; /* Căn giữa các cột khi màn hình nhỏ */

    .column {
      flex: 1 1 100%; /* Các cột sẽ chiếm 100% chiều rộng */
      margin-bottom: 20px; /* Thêm khoảng cách giữa các cột khi xếp chồng */
      text-align: center; /* Căn giữa cho các mục trong cột */
    }

  }
}
