.custom-sider {
  background: #fff;
  margin: 10px;
  border-radius: 10px;
  height: fit-content;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.custom-sider .ant-menu-item-selected {
  color: white !important;
}

.custom-mobile-menu {
  box-shadow: 0px -8px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  z-index: 1000;
}

.menu-button {
  display: none;
}

.content-card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .custom-sider {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

.content-wrapper {
  height: 78%; 
}
@media (min-width: 769px) {
  .content-wrapper {
    overflow-y: auto; 
  }

  .content-wrapper::-webkit-scrollbar {
    display: none; 
  }

  .ant-layout-content {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    overflow: hidden;
  }
}

.layout-right{
  padding: 10px 20px 0px 20px
}
