.form {
  padding: 30px;
  border-radius: 5px;
}

.form-card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 640px;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
