.job-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25) !important;
  border-radius: 8px;
}


.job-card-image {
  border-radius: 8px;
}

.ribbon-borderless .ant-ribbon {
  box-shadow: none;
  border: none;
}
