.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  min-height: 100px;
}
.content {
  flex: 1;
  padding-top: 100px;
  height: auto;
}

.footer {
  padding: 0;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .footer {
    text-align: center;
  }
}
