.footer {
  padding: 0;
}

@media (max-width: 768px) {
  .content {
    padding: 15px;
  }

  .header {
    text-align: center;
  }

  .footer {
    text-align: center;
  }
}

.content {
  padding: 30px;
  background-color: #fff;
  min-height: 280px;
  height: 100vh;
}
