.content {
  padding: 0 50px 0 50px;
  background-color: #fff;
  min-height: 280px;
  height: auto;
}

.footer {
  padding: 0;
}

@media (max-width: 768px) {
  .content {
    padding: 10px;
  }

  .header {
    text-align: center;
  }

  .footer {
    text-align: center;
  }
}
