.container {
    padding-top: 16px;
    padding-bottom: 24px;
  }
  
  .job-list {
    margin-top: 16px;
  }
  
  .center-pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  