.box-image {
    width: fit-content;
    height: fit-content;
  }
  
  .category-avatar {
    padding: 20px;
    box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.292);
    border-radius: 10px;
  }
  .btn-back{
      margin-bottom: 1rem;
  }
  .btn-save{
      height: 7vh;
      width: 8vw;
      font-size: 16px;
  }
  .quill{
      width: 100%;
  }
  .input-component {
    height: 8vh;
  }
  
  .form-container {
      box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.292);
      border-radius: 10px;
  }
  