.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c1990;
  color: white;

  .logoContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      height: 25px;
      margin-right: 5px;
    }
  }

  .nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 9px; /* Giảm khoảng cách giữa các mục menu */
        a {
          text-decoration: none;
          color: white;
          font-size: 14px; /* Kích thước chữ của menu */

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .styled-button {
    font-size: 14px;
    margin-left: 5px;
    background-color: transparent;
    color: white; 
  }

  .authButtons {
    display: flex;
    align-items: center;

    .employer {
      position: relative; /* Để cho dropdown có thể được định vị tương đối */
      margin-left: 5px; /* Giảm khoảng cách giữa nút Nhà Tuyển Dụng */
    }
  }

  @media (max-width: 768px) {
    .nav {
      display: none; /* Ẩn phần menu điều hướng trên màn hình nhỏ */
    }
    
    .authButtons {
      .employer {
        margin-left: 5px; /* Giảm khoảng cách giữa nút Nhà Tuyển Dụng */
      }
    }
  }
}
