.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    139deg,
    rgba(2, 0, 36, 1) 19%,
    rgba(60, 25, 144, 0.6582282571231617) 100%
  );
  color: white;
  min-height: 100px;
  .nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 9px;
        a {
          text-decoration: none;
          color: white;
          font-size: 14px;
        }
      }
    }
  }

  .styled-button {
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
}
.hamburgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .nav,
  .styled-button {
    display: none;
  }

  .drawer {
    width: 50%;
  }
  .ant-drawer-content {
    width: 100%;
  }

  .hamburgerMenu {
    display: block;
  }

  .mobileNav {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: #3c1990;
      }
    }
  }

  .mobileAuthButtons {
    margin-top: 20px;

    .styled-button {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

.custom-button {
  color: #3c1990;
  font-size: 13px;
  font-weight: bold;
}
