@import "/styles/color.scss";

.searchBox {
  background: $main-color-gradient;
  padding: 50px 150px;
  width: 100%;
  justify-content: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.bannerButton {
  background-color: $main-color;
  border: none;
  color: white;
}

.home-content {
  padding: 50px;
}

.item-banner {
  background: $main-color-gradient;
}

.item-home-page,
.item-company,
.item-banner {
  margin-top: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .searchBox {
    padding: 20px 10px;
  }

  .home-content {
    padding: 10px;
  }
}

.recommend-tag {
  background-color: transparent !important;
  color: #dedede;
  border-color: #414042;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
}

.recommend-tag:hover {
  border-color: #fff;
  color: #fff;
}
