.card-no-select {
  margin-bottom: 20px;
  transition: all 0.3s;

  :hover {
    cursor: pointer;
  }
}

.card-selected {
  margin-bottom: 20px;
  transition: all 0.3s;
  background-color: #5422c9;
  color: #fff;
  :hover {
    cursor: pointer;
  }
}
