.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(189, 185, 185, 0.1);
  overflow: auto;
}
.jobHeader {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  width: 100%;
  gap:20px
}

.companyInfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.companyInfo div {
  margin-left: 20px;
}
.imgCompany {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.actionButtons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.actionButtons button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.job-description {
  width: 100%;
  padding: 0 !important;
}
.job-action-button {
  min-height: 44px;
  width: 100%;
}
.jobInformation{
  width: 100%;
}
.saveBtn,
.shareBtn {
  margin: 5px 10px;
  background-color: #fff;
  color: #3c1990;
  border: 1px solid #3c1990;
}

.saveBtn:hover,
.shareBtn:hover {
  background-color: #d3cfcf;
}

.jobDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #fff;
  /* Màu nền trắng */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.jobInfo {
  flex: 1 1 25%;
  /* Chia đều không gian cho 4 mục */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  /* Căn giữa văn bản */
}

.additionalInfo {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Chia thành 2 cột */
  gap: 20px;
}

.infoItem {
  font-size: 16px;
  margin-bottom: 10px;
}

.jobDescription {
  margin-top: 20px;
  padding: 20px !important;
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.Description {
  margin-bottom: 10px;
}

.contactInfo {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.contactInfo p {
  margin: 10px 0;
}

.contactInfo strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  /* Điều chỉnh khi màn hình nhỏ hơn 768px */
  .jobHeader {
    flex-direction: column;
  }

  .jobDetails {
    flex-direction: column;
  }

  .jobMeta {
    justify-content: flex-start;
  }

  .actionButtons {
    justify-content: flex-start;
  }

  .additionalInfo {
    grid-template-columns: 1fr;
  }

  .jobInfo {
    flex: 1 1 100%;
  }
}

.similarJobs {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.similarJobsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.viewAllButton {
  background: none;
  border: none;
  color: #3c1990;
  font-size: medium;
  cursor: pointer;
}

.similarJobsList {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  white-space: nowrap;
  gap: 20px;
}

.similarJobsList::-webkit-scrollbar {
  width: 5px;
}

.similarJobsList::-webkit-scrollbar-thumb {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    139deg,
    rgba(2, 0, 36, 1) 19%,
    rgba(60, 25, 144, 0.6582282571231617) 100%
  );
  border-radius: 6px;
}

.similarJobsList::-webkit-scrollbar-track {
  background: transparent;
}

.description {
  padding: 15px;
}

.cardContainer {
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cardContainerimg {
  text-align: center;
  margin-top: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  .ant-carousel {
    max-width: 100%;
    max-height: 100%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 8px;
  }
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 100px;
}

.backgroundImageis {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.logoContainer {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
}

.companyLogo {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.companyName {
  margin-top: -18px;
  margin-bottom: -12px;
}

.companyName h2 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.contactInfocompany {
  margin-top: 20px;
  background-color: #fff;
  text-align: left;
  padding: 0 20px;
  color: #333;

  h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.like-button {
  font-size: 24px;
}

.tags {
  margin-top: 16px;
  align-items: flex-start; 
  width: 100%;
  gap: 12px;
}

.tagsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 8px; 
}

.tag {
  cursor: pointer;
}