
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ccc;
    margin: -30px;
    padding: 20px;
  }
  .content {
    background-color: #fff; 
    width: 70%; 
    padding: 20px; 
    min-height: 80vh;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
