:root {
  --background: #f0f2f5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f2f5;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "mainFont", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-menu-item-selected {
  background-color: rgb(84, 34, 201) !important;
}

.ant-menu-sub-item-selected {
  background-color: rgb(84, 34, 201) !important;
}

@font-face {
  font-family: "mainFont";
  src: url("/assets/fonts/mainFont2.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
