

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f2f5;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.ant-menu-item-selected {
  background-color: rgb(237, 27, 47) !important;
}

.ant-menu-sub-item-selected {
  background-color: rgb(237, 27, 47) !important;
}

@font-face {
  font-family: "Lexend";
  src: url("/assets/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
