.sider {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgb(0, 12, 23);
  overflow: auto;
  transition: width 0.3s ease;
  max-width: 250px;
  border-radius: 0 15px 15px 0;
}

.layout-collapse {
  height: 100vh;
  margin-left: 80px;
  transition: margin-left 0.3s ease;
}

.layout-collapse-active {
  height: 100vh;

  margin-left: 48px;
  transition: margin-left 0.3s ease;
}

.header {
  background-color: rgb(0, 12, 23);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  padding: 0 20px 0 10px;
  display: flex;
  z-index: 115;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  justify-content: flex-end;
  align-items: center;
}

.content {
  padding: 80px 16px 16px 16px;
  min-height: calc(100vh - 80px);
  overflow-y: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
