@import "/styles/color.scss";
.container {
  padding: 20px 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.companyCard {
  background: $main-color-gradient;
  width: 100%;
  max-height: 400px;
}

.coverImageContainer {
  height: 150px;
  width: 150px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.companyInfo {
  padding: 24px 0 0;
  background-color: white;
}

.companyAvatar {
  border-radius: 8px;
}

.companyTitle {
  margin-bottom: 0 !important;
  color: white !important;
}

.companyDetailsCard {
  margin-top: 20px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button {
  color: #fff;
  background: $main-color-gradient;
}

.card {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.option-button {
  height: 50px;
  width: 150px;
}

.company-detail-header {
  width: 100%;

  @media (min-width: 992px) {
    padding: 0 100px;
  }

  @media (max-width: 991px) {
    padding: 0;
  }
}

.company-rate {
  background-color: #ffffff0d;
  height: 75px;
  padding: 10px;
  display: flex;
  border-radius: 8px;
}

.company-rate-col {
  .companyTitle {
    font-size: 16px;
  }

  @media (max-width: 767px) {
    .companyTitle {
      font-size: 12px;
    }
  }
}
