.ant-form-item {
  margin-bottom: 0 !important;
  padding: 0 !important;
}

.searchFormContainer {
  padding: 10px;
  border-radius: 5px;
}

.inputField {
  border-radius: 5px;
  height: 40px;
  margin-right: 10px;
}

.advancedFilterContainer {
  margin-top: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.12);
  padding: 20px;
}

.filterTitle {
  font-weight: bold;
  font-size: 16px;
}

.actionButtons {
  width: 100%;
  border-radius: 5px;
  height: 40px;
}

.searchButton {
  background-color: #f1a238;
  color: #fff;
}

.ant-form-item css-dev-only-do-not-override-marctw ant-form-item-has-success {
  margin: 0 !important;
}


